root{
    font-size: 14px;
}
body{
    margin: 0;
    background-image: url(images.jpg);
    background-size: cover;
}



.container .header{
    display: flex;
    background-color: black;
    height: max-content;
    width: 100%;
    justify-content: space-around;
    align-content: flex-end;
}

.container .header a{
    padding: 1vw;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.container .banner{
    display: flex;
   margin: 10vw 5vw 0 5vw;
   flex-direction: row;
}

.card{
    margin: 0 5vw 0 10vw;
}

.container .banner .card .name{
    font-size: 4rem;
    margin: 0;
    color: aliceblue;
}

.banner .card .des{
    margin: 0 0 30px 0;
    font-size: 1.2rem;
    color: gold;

}

.banner .card .content{
    font-size: 1.3rem;
    color: beige;
}

.banner .image{
    margin: 2vw 10vw 0 0;
    
}
.banner .my_image{    
    width: 250px;
    height: 180px;
    border: 2px solid red;
}

.container .work_banner{
    margin: 30vw 5vw 15vw 5vw;
}

.container .work_banner .work{
    margin: 0 20vw 0 20vw;
}

.container .work_banner .work .exp{
    font-size: 4rem;
    margin: 0;
    color: aliceblue;
}

.work .des{
    font-size: 1.2rem;
    color: gold;
    margin: 0 0 30px 0;
}

.work .content{
    font-size: 1.3rem;
    color: beige;
    
}

.container .contact_info{
    margin: 30vw 5vw 15vw 5vw;
}

.contact_info .contact{
    margin: 0 20vw 0 20vw;
}

.contact_info .contact .con{
    font-size: 4rem;
    color: aliceblue;
    margin: 0;
}

.contact .des{
    font-size: 1.2rem;
    color: gold;
    margin: 0 0 40px 0;
}



.contact .contact_form .form_group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_form label{
    font-size: 1.1rem;
    color: beige;
    display: block;
}

.form_group .contact_name{
    
    width: 47.5%;
}

.form_group .contact_email{
 
    width: 47.5%;
}

.form_group input{
    width: 100%;
    height: 28px;
    padding: 5px;
    border-radius: 5px;
    background-color: cornsilk;
}

.contact_form .contact_message{
    margin-top:20px;
    display: block;
}

.contact_form .contact_message textarea{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    height: 10vw;
    background-color: cornsilk;
}

.contact_form button{
    font-weight: bold;
    margin-top: 20px;
    padding: 13px;
    border-radius: 10px;
    background-color: green;
    cursor:pointer;
    width: 45%;
}

button:hover{
    opacity: 0.8;
}

.container .logos{
    margin: 5vw 5vw 2vw 5vw;
    display: flex;
    justify-content: space-around;
    
}
.container .logos img{
    width: 45px;
    height: 45px;
}




@media only screen and (max-width: 770px){
    
    .container .banner{
        flex-direction: column;
    }
    .container .banner .card{
        margin: 15vw 2vw 0 2vw;    
    }

    .container .banner .image{
        order: -1;
        margin: auto;
    }

    .container .work_banner .work{
        margin: 40vw 2vw 0 2vw;
    }

    .contact_info .contact{
        margin: 40vw 2vw 0 2vw;
    }

    .contact .contact_form .form_group{
        flex-direction: column;
        
    }

    .form_group .contact_name{
    
        width: 80%;
    }
    
    .form_group .contact_email{
        width: 80%;
    }

    .contact_form .contact_message textarea{
        width: 80%;
    }

    .contact_form button{
        padding: 13px;
        width: 80%;
    }
}
